<a href="https://colab.research.google.com/github/19PA1A0556/python/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
import matplotlib.pyplot as plt # for plotting

In [53]:
a=pd.read_csv('students_placement_data.csv')
a

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
x=a[['SSC Percentage','inter_Diploma_percentage']].values
y=a[['B.Tech_percentage']].values

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [28]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
model.intercept_

array([-3.07938483])

In [30]:
model.coef_

array([[0.06767154, 0.73925063]])

In [0]:
btech=model.predict(x_test)

In [37]:
actual=pd.DataFrame({"actual2":y_test.flatten(),"predicted":btech.flatten()})
actual.head()

   actual2  predicted
0    44.73  38.892047
1    59.53  59.419562
2    77.95  72.299139
3    76.30  69.029820
4    63.41  62.100513

In [57]:
b=a.loc[a["Gender"]=="M"]
b.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed
5        6      M  ...                                yes        Not placed
6        7      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [58]:
c=a.loc[a["Gender"]=="F"]
c.head()

    Roll No Gender  ... registered_for_ Placement_Training  placement status
1         2      F  ...                                yes            Placed
2         3      F  ...                                yes        Not placed
7         8      F  ...                                 NO        Not placed
10       11      F  ...                                 NO            Placed
13       14      F  ...                                yes            Placed

[5 rows x 9 columns]

In [62]:
d=c["B.Tech_percentage"]
d.head()

1     71.45
2     45.26
7     61.02
10    71.49
13    74.96
Name: B.Tech_percentage, dtype: float64

In [64]:
e=b["B.Tech_percentage"]
e.head()

0    40.00
3    36.47
4    42.52
5    62.20
6    33.77
Name: B.Tech_percentage, dtype: float64

In [0]:
#comparing boys ang girls 
#girls performance is much better